.main {
  text-align: center;
}

.h1 {
  font-size: var(--fs-h2);
  padding: 0 1rem 1.5rem;
}

.p {
  font-size: var(--fs-base);
  color: var(--text-muted);
  padding: 0 1rem;
}

.navLinkRef {
  text-transform: uppercase;
  color: var(--accent);
}
