.main {
  text-align: center;
}

.h1 {
  font-size: var(--fs-h2);
  padding: 0 1rem 1.5rem;
}

.p {
  font-size: var(--fs-base);
  color: var(--text-muted);
  padding: 0 1rem;
}

.navLinkRef {
  text-transform: uppercase;
  color: var(--accent);
}

.productsMain {
  padding: 0 0.5rem 1rem;
}

.totalProducts {
  color: var(--accent);
  font-size: var(--fs-h1);
}

.productsH1 {
  grid-column: 1/-1;
  text-align: center;

  font-size: var(--fs-h5);
  font-weight: 400;
  letter-spacing: 0.2rem;
  padding-bottom: 1rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 200px));
  gap: 1rem;
  justify-content: center;
}
