.main {
  flex: 1;
  display: grid;
  place-content: start center;
  text-align: center;
  padding: 0 1rem;
  gap: 1rem;
}

.main > * {
  font-weight: 500;
}

.main h1 {
  font-size: var(--fs-h1);
}

.main h2 {
  font-size: var(--fs-h4);
}

.textBody {
  color: var(--text-muted);

  padding-bottom: 1rem;
  line-height: 1.6;

  font-size: var(--fs-base);
  font-weight: 400;
}

.navLinkRef {
  text-transform: uppercase;
  color: var(--accent);
}
