.nav {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: var(--bg);
  border-bottom: 1px solid var(--text-muted);
  margin-bottom: 3rem;
}

.ul {
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ul > * {
  flex: 1 0 0;
  text-align: center;

  display: grid;
}

.ul > *:not(:first-child) {
  border-left: 1px solid var(--text-muted);
}

.ul > *:hover {
  background-color: var(--bg-h);
}

.a {
  color: var(--text);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: var(--fs-sm);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.75rem 0.5rem;
}

.a:focus,
.a:hover {
  text-decoration: underline;
}

.a:active {
  color: var(--nav-active-link);
}

.active {
  color: var(--nav-current-link);
}
