.nav {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: var(--bg);
  border-bottom: 1px solid var(--text-muted);
  margin-bottom: 3rem;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

.ul > * {
  flex: 1 0 0;
  min-width: max-content;
  text-align: center;
}

.ul > *:not(:first-child) {
  border-left: 1px solid var(--text-muted);
}

.ul > *:hover {
  background-color: var(--bg-h);
}

.a {
  display: block;
  padding: 1rem 0.5rem;

  text-decoration: none;
  color: var(--text);
  font-weight: bold;
  font-size: var(--fs-sm);
  text-transform: uppercase;
}

.a:focus,
.a:hover {
  text-decoration: underline;
}

.a:active {
  color: var(--nav-active-link);
}

.active {
  color: var(--nav-current-link);
}
