.productCounter {
  justify-self: center;
}

.label {
  display: block;
  font-size: var(--fs-xsm);
}

.btn {
  --br: 10px;

  border: 1px solid var(--text-muted);
  background-color: var(--bg);
  font-size: var(--fs-base);
  padding: 1px 0.5rem;
}

.btn:disabled {
  opacity: 0.5;
}

.btn:hover:not(:disabled) {
  cursor: pointer;
  background-color: var(--accent);
}

.increaseBtn {
  composes: btn;
  border-radius: 0 var(--br) var(--br) 0;
  border-left: 0;
}

.decreaseBtn {
  composes: btn;
  border-radius: var(--br) 0 0 var(--br);
  border-right: 0;
}
