:root {
  --text: #08060d;
  --bg: #fff;
  --bg-h: #eee;
  --nav-current-link: #b50000;
  --nav-active-link: #006700;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font-family: var(--sans);
  letter-spacing: 0.18px;
  background-color: var(--bg);
  color: var(--text);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f3f4f6;
    --bg: #16171d;
    --bg-h: #1f2129;
    --nav-current-link: #ff7a7a;
    --nav-active-link: #0f0;
  }
}

input,
button {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-wrap: pretty;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
}
